/* ----------
    RESET 
---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------ 
    GENERAL
------------ */
body {
    max-height: 100vh;
}

.bg-grey {
    background: #f6f6f6;
}

.bg-black {
    background: #23272a;
}

/* ---------- 
    DEBUG 
-----------*/
.debug header {
    background: #add8e6;
}

.debug header .row {
    background: #daa520;
    min-height: 44px;
    line-height: 44px;
}

.debug header .hero {
    background: #00008b;
    min-height: 500px;
}

.debug header .hero>.box {
    background: #ee82ee;
}

.debug .row [class^=col] {
    border: 2px dashed #000000;
}

.debug main .col-60 {
    background: #1e90ff;
}

.debug main .col-40 {
    background: #ffc0cb;
}

.debug main .col-100 {
    background: #228b22;
    min-height: 896px
}

.debug footer section :first-child>.row {
    min-height: 573px;
}

.debug footer .col-30 {
    background: #f08080;
}

.debug footer .col-70 {
    background: #20b2aa;
}

.debug footer .credits .row {
    background: #7fffd4;
}

.debug .credits>.container .row {
    min-height: 60px;
}

.debug .credits>.container .btn {
    background: #ffb6c1;
}

/* ---------------
    TYPOGRAPHY
--------------- */
body {
    font-family: 'Cabin', sans-serif;
    color: #23272a;
}

.btn {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Cabin', sans-serif;
}

.big.btn {
    font-size: 20px;
}

h1 {
    font-size: 56px;
}

p {
    font-size: 20px;
}

.container>.row [class^=col] h1 {
    font-size: 48px;
    font-weight: 700;
}

/* ----------------
    GRID LAYOUT
---------------- */
.container {
    max-width: 1202px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    padding: 0 10px;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

/* -----------
    BUTTON
----------- */
.btn {
    background: transparent;
    padding: 7px 16px;
    border: transparent;
    border-radius: 20px;
}

.big.btn {
    padding: 16px 32px;
    border-radius: 50px;
}

.btn.bg-black,
.btn.bg-purple {
    color: #ffffff;
}

.btn.bg-white {
    background: #ffffff;
}

.btn.bg-black {
    background: #23272a;
}

.btn.bg-purple {
    background: #8ea1e1;
}

/* -----------
    HEADER
----------- */
header {
    padding: 16px 0 4px;
    background-image: url(img/jumbo.png);
    background-size: cover;
}

nav {
    flex-grow: 3;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    padding: 0 5px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header .row :last-child {
    text-align: end;
}

/* ---------
    HERO
--------- */
.hero {
    margin: 16px 0 0;
    padding: 48px 0;
}

.box {
    max-width: 906px;
    min-height: 402px;
    text-align: center;
    margin: auto;
    color: #ffffff;
}

.box h1 {
    margin: 0 0 50px;
}

.box p {
    margin: 0 10px 24px;
}

.box :nth-child(3) {
    margin: 0 28px 0 0;
}

/* ---------
    MAIN
--------- */
main section>.container {
    padding: 48px 0;
}

main img {
    max-width: 100%;
}

.server .col-40,
.mod .col-40 {
    padding: 25px 50px 0 90px;
}


.vocal-channel .col-40 {
    padding: 90px 0 50px 25px;
}

main .col-40 h1,
.video .col-100 h1 {
    padding: 0 0 32px 0;
}

.video .col-100 {
    max-width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.video .col-100 p {
    padding: 0 140px;
}

h2 {
    padding: 28px 38px 46px 26px;
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* -----------
    FOOTER
----------- */
footer .container {
    padding: 10px 0 40px;
}

.mini-col.col-70 {
    padding: 0;
    display: flex;
}

.credits>.container {
    margin: 40px auto;
    padding: 22px 0;
}

.credits>.container .row {
    display: flex;
    justify-content: space-between;
}